src/main/resources/network_models/*
src/main/resources/matrix_data/*
src/main/resources/matrix_data/decimation_models/*
src/main/resources/matrix_data/simulation/*
src/main/resources/spring/peralyzer.properties
src/main/scripts/node_modules/*
.idea/*
*.iml
