<script type="text/template" id="about_template">
    <div class="row about-people">
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/anil_korkut.jpg"></td></tr>
                <tr><td>
                    <a href="http://sites.google.com/site/anilak2048/" target="_blank">
                        <b>Anil Korkut</b>
                    </a>
                </td></tr>
                <tr><td>Postdoctoral Researcher</td></tr>
            </table>
        </div>
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/weiqing_wang.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/weiqing-wang/index.html" target="_blank">
                        <b>Weiqing Wang</b>
                    </a>
                </td></tr>
                <tr><td>Postdoctoral Researcher</td></tr>
            </table>
        </div>
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/chris_sander.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/chris-sander/index.html" target="_blank">
                        <b>Chris Sander</b>
                    </a>
                </td></tr>
                <tr><td>Principal Investigator</td></tr>
            </table>
        </div>
    </div>
    <div class="row about-people">
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/evan_molinelli.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/evan-molinelli/index.html" target="_blank">
                        <b>Evan Molinelli</b>
                    </a>
                </td></tr>
                <tr><td>Graduate Student</td></tr>
            </table>
        </div>
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/martin_miller.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/martin-miller/index.html" target="_blank">
                        <b>Martin Miller</b>
                    </a>
                </td></tr>
                <tr><td>Postdoctoral Researcher</td></tr>
            </table>
        </div>
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/alex_root.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/alex-root/index.html" target="_blank">
                        <b>Alex Root</b>
                    </a>
                </td></tr>
                <tr><td>Graduate Student</td></tr>
            </table>
        </div>
    </div>
    <div class="row about-people">
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/poorvi_kaushik.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/poorvi-kaushik/index.html" target="_blank">
                        <b>Poorvi Kaushik</b>
                    </a>
                </td></tr>
                <tr><td>Graduate Student</td></tr>
            </table>
        </div>
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/nick_gauthier.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/nicholas-gauthier/index.html" target="_blank">
                        <b>Nicholas Gauthier</b>
                    </a>
                </td></tr>
                <tr><td>Postdoctoral Researcher</td></tr>
            </table>
        </div>
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/xiaohong_jing.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/xiaohong-jing/index.html" target="_blank">
                        <b>Xiaohong Jing</b>
                    </a>
                </td></tr>
                <tr><td>Research Associate</td></tr>
            </table>
        </div>
    </div>
    <div class="row about-people">
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/arman_aksoy.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/b-arman-aksoy/index.html" target="_blank">
                        <b>Bulent Arman Aksoy</b>
                    </a>
                </td></tr>
                <tr><td>Graduate Student</td></tr>
            </table>
        </div>
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/emek_demir.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/emek-demir/index.html" target="_blank">
                        <b>Emek Demir</b>
                    </a>
                </td></tr>
                <tr><td>Manager, Path Information Resource</td></tr>
            </table>
        </div>
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/ozgun_babur.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/ozgun-babur/index.html" target="_blank">
                        <b>Ozgun Babur</b>
                    </a>
                </td></tr>
                <tr><td>Postdoctoral Researcher</td></tr>
            </table>
        </div>
    </div>
    <div class="row about-people">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/onur_sumer.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/selcuk-onur-sumer/index.html" target="_blank">
                        <b>Selcuk Onur Sumer</b>
                    </a>
                </td></tr>
                <tr><td>Software Engineer</td></tr>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
</script>