<script type="text/template" id="about_template">
    <div class="row about-people">
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/anil_korkut.jpg"></td></tr>
                <tr><td>
                    <a href="http://sites.google.com/site/anilak2048/" target="_blank">
                        <b>Anil Korkut</b>
                    </a>
                </td></tr>
                <tr><td>Postdoctoral Researcher</td></tr>
            </table>
        </div>
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/onur_sumer.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/selcuk-onur-sumer/index.html" target="_blank">
                        <b>Selcuk Onur Sumer</b>
                    </a>
                </td></tr>
                <tr><td>Software Engineer</td></tr>
            </table>
        </div>
        <div class="col-md-3">
            <table>
                <tr><td><img src="images/chris_sander.jpg"></td></tr>
                <tr><td>
                    <a href="http://cbio.mskcc.org/directory/chris-sander/index.html" target="_blank">
                        <b>Chris Sander</b>
                    </a>
                </td></tr>
                <tr><td>Principal Investigator</td></tr>
            </table>
        </div>
    </div>
</script>