<script type="text/template" id="download_template">
    <h4>Data</h4>
    <div class="main-paragraph">
        <a href="files/data.txt" target="_blank">data.txt</a>
        <!--: TODO description-->
        <br>
        <a href="files/pert.txt" target="_blank">pert.txt</a>
        <!--: TODO description-->
        <br>
    </div>
    <h4>Input</h4>
    <div class="main-paragraph">
        <a href="files/exp_index.txt" target="_blank">exp_index.txt</a>
        <!--: TODO description-->
        <br>
        <a href="files/input.txt" target="_blank">input.txt</a>
        <!--: TODO description-->
        <br>
        <a href="files/node_index.txt" target="_blank">node_index.txt</a>
        <!--: TODO description-->
        <br>
        <a href="files/prio.txt" target="_blank">prio.txt</a>
        <!--: TODO description-->
        <br>
    </div>
    <h4>Source Code For Network Inference</h4>
    <div class="main-paragraph">
        <a href="files/common.bp2" target="_blank">common.bp2</a>
        <!--: TODO description-->
        <br>
        <a href="files/common.main" target="_blank">common.main</a>
        <!--: TODO description-->
        <br>
        <a href="files/decima_pp.f" target="_blank">decima_pp.f</a>
        <!--: TODO description-->
        <br>
    </div>
    <h4>PERA</h4>
    <div class="main-paragraph">
        <a href="https://bitbucket.org/armish/bp_prior" target="_blank">Source Code</a>
        <!--: TODO description-->
        <br>
    </div>
</script>