.network-container {
	height: 550px;
	border: 1px solid #ddd;
	overflow: hidden !important;
	border-radius: 0.25em;
	margin: 0.25em;
}

.main-image {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.main-paragraph {
	border-left: 1px solid #cecece;
	padding-left: 15px;
}

.stressed-text {
	font-style: italic;
}

.tab-pane h4 {
	font-weight: bold;
}

.tab-pane {
	padding-top: 15px;
	padding-bottom: 15px;
}

.home-pane {
	text-align: justify;
}

.default-pane {
	padding-left: 20px;
}

.tooltip-superscript {
	position: relative;
	left: -.4em;
}

.qtip-custom {
	font-size: 1.1em;
	font-family: Helvetica Neue, Arial, sans-serif;
	line-height: 1.2em;
}

.text-align-right {
	text-align: right;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

.heatmap-controls,
.simulation-controls {
	margin-bottom: 10px;
}

.heatmap-container {
	margin-bottom: 10px;
}

.select-box-title {
	text-align: center;
}

.node-strength-selection-table td,
.simulation-controls-table td {
	padding-right: 10px;
}

.line-checkbox {
	text-align: center;
}

.select-box {
	width: 150px;
}

.row-strength-box,
.col-strength-box {
	width: 80px;
}

.peralyzer-navbar {
	padding-left: 20px;
}

.simulation-summary {
	margin-left: 80px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.model-in-silico-img {
	float: left;
	max-width: 380px;
}

.average-response {
	margin-right: 20px;
}

.home-page-header {
	text-align: center;
	font-weight: bold;
}

.home-page-header h1 {
	font-size: 60px;
	font-weight: bold;
}

.home-page-header-tag {
	color: #999999;
}

.header-emphasis {
	font-size: 150%;
}

/* Network view legend style */

.edge-legend {
	width: 99%;
}
.edge-legend table {
	margin-left: auto;
	margin-right: auto;
}
.edge-legend table td {
	padding-right: 20px;
}
.legend-rect {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px;
	color: #101010;
}
.legend-edge-inhibit {
	background-color: #FF0000;
}
.legend-edge-activate {
	background-color: #00FF00;
}

/* Matrix LEGEND style */

.legend-axis path {
	display: none;
}

.legend-axis line {
	stroke: #666666;
}

.legend-axis text {
	fill: #666666;
}

.legend-title {
	text-align: center;
}

/* BarChart Style */
.simulation-histogram .axis path,
.simulation-histogram .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.simulation-histogram x.axis path {
	display: none;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}