#main_network_view {
	height: 550px;
	border: 1px solid #ddd;
	overflow: hidden !important;
	border-radius: 0.25em;
	margin: 0.25em;
}

.tooltip-superscript {
	position: relative;
	left: -.5em;
}

.qtip-custom {
	font-size: 1.2em;
	font-family: Helvetica Neue, Arial, sans-serif;
	line-height: 1.2em;
}