#main_network_view {
	height: 550px;
	border: 1px solid #ddd;
	overflow: hidden !important;
	border-radius: 0.25em;
	margin: 0.25em;
}

.tooltip-superscript {
	position: relative;
	left: -.4em;
}

.qtip-custom {
	font-size: 1.1em;
	font-family: Helvetica Neue, Arial, sans-serif;
	line-height: 1.2em;
}

.text-align-right {
	text-align: right;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}


/* LEGEND style */

.legend-axis path {
	display: none;
}

.legend-axis line {
	stroke: #666666;
}

.legend-axis text {
	fill: #666666;
}

.legend-title {
	text-align: center;
}
